@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Grotes;
    src: url(./public/font/FoundersGroteskCondensed-Bold.ttf);
}

@font-face {
    font-family: matterL;
    src: url(./public/font/matter-light.ttf);
}

@font-face {
    font-family: matterR;
    src: url(./public/font/matter-regular.ttf);
}

@font-face {
    font-family: matterM;
    src: url(./public/font/Matter-Medium.ttf);
}

@font-face {
    font-family: matterS;
    src: url(./public/font/Matter-SemiBold.ttf);
}

@font-face {
    font-family: matterB;
    src: url(./public/font/Matter-Bold.ttf);
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
}


*::selection {
    color: white;
    background: black;
}

#home {
    width: 100%;
    height: 100vh;
    background-color: #ececec;
}

nav {
    width: 100%;
    padding: 30px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "matter";
}

nav h1 {
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.4vw;
    color: black;
}

.right {
    display: flex;
    gap: 20px;
    color: black;
    font-size: 1vw;
    align-items: center;
}

.right h3 {
    color: #000000f3;
    font-weight: 400;
    font-size: 20px;
    opacity: 95%;
}

.right i {
    color: #000000f3;
    font-weight: 500;
    opacity: 95%;
}

.hero {
    width: 85%;
    margin: auto;
    padding-top: 12vw;
}

.headding {
    font-size: 6.3vw;
    font-weight: 700;
    font-family: serif;
    display: flex;
    justify-content: space-between;
    color: transparent;
    -webkit-text-stroke: 2px gray;
    line-height: 6.5vw;
    transition: .1s;
}

.headding h1:hover {
    color: black;
    -webkit-text-stroke: 1px white;
    transition: .1s;
}

.hero h5 {
    font-size: 1.4vw;
    font-family: "matterS";
}

.hero h6 {
    font-size: 1vw;
    line-height: 50px;
    font-family: "matterS";
    text-align: right;
    margin-top: 0.6vw;
    letter-spacing: 2px;
}

#homeLast {
    width: 85%;
    margin: auto;
}

.details {
    margin-top: 20vh;
    padding-bottom: 5vh;
    font-family: "matter";
    font-size: 1.3vw;
    font-weight: 500;
    width: 48%;
}

.details p {
    line-height: 1.5vw;
}

::-webkit-scrollbar {
    display: none;
}

#top h1 {
    font-family: Grotes;
}

#bottom h1 {
    font-family: Grotes;
}